{
  "presets": [
    ["es2015", { "loose": true, "modules": false }],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    "add-module-exports",
    "transform-export-extensions",
    "external-helpers"
  ],
  "ignore": [
    "dist/*.js"
  ],
  "comments": false
}
